/* main.css */
@import url("font.css");

@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --text-color: #ffffff;
  --light-lavender: #faf6fe;
  --text-black: #000000;
  --eerie-black: #1c1c1e;
  --comic: "Comic Neue", cursive;
  --open: "OpenRunde", sans-serif;
  --antro: "AntroVectra", sans-serif;
  --semi-transparent-white: #ffffff4d;
  --greenish-blue: #1b242c1f;
  --box-shadow: 0px 1px 2px 0px var(--greenish-blue);
  --hover-text-color: #000000;
  --dark-cyan: #030e0f;
  --Rich-black: #130f10;
  --grayish-blue: #2b2a34;
  --hover-bg-color: #ffffff;
  --partially-transparent-black: #00000099;
  --transparent-black-color: #000000e5;
  --semiTransparentBlack: #000000b2;
  --Charcoal-Mist: #000000cc;
  --bluish-tint: #e6e6e9;
  --Faint-Black: #00000033;
  --Bright-Orange: #f24e1e;
  --blackSemiOpaque: #00000080;
  --Bright-red: #ff4b4b;
  --Shadowy-Overlay: #0000004d;
  --Midnight-Blue: #343559;
  --Semi-Transparent-Midnight-Blue: #34355999;
  --Midnight-Navy: #010330;
  --Semi-Transparent-Midnight-Navy: #01033033;
  --Lavender-Gray: #e0dfe3;
  --Semi-Transparent-Charcoal: #130f1099;
  --Charcoal-Gray: #0c0e0d;
  --Dimmed-Black: #000000bf;
  --Semi-Transparent-Sage: #9999a133;
  --Hazy-Deep-Sea: #010330cc;
  --Soft-Olive-Gray: #9999a14d;
  --Bright-Coral: #ff536a;
  --Pale-Blue-Gray: #d6dae1;
  --Pearl-Hue: #ffffff0a;
  --Very-Light-Gray: #ffffff1a;
  --Silver-Sand: #cccdd6;
  --semiTransparentWhite6: #ffffff0f;
  --Light-grey: #e3e3e4;
  --deepPurple: #1a072c;
  --mediumPurpleGray: #746780;
  --dark-purple-translucent: #1a072cb2;
  --dark-purple-80: #1a072c99;
  --soft-lavender: #eae5ee;
  --pastel-lavender: #f0e5fb;
  --dark-purple-gray: #483956;
  --purple-shadow: #1a072ccc;
  --purple-haze: #1a072c33;
  --deep-purple-overlay: #1a072c80;
  --lavender-blush: #f6effd;
  --semi-transparent-white: #ffffff33;

  /* linear Gradient */
  --linear-gradient: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.17) 0%,
    rgba(97, 24, 124, 0.17) 99.5%
  );

  /* Box Shadow */
  --shadow-box: 0 2px 6px 0 rgb(218 218 253 / 65%),
    0 2px 6px 0 rgb(206 206 238 / 54%) !important;
  /* Font wight */
  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
  --normal: 400;
}
html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  /* -webkit-user-select: none; Safari */
  /* -ms-user-select: none; IE 10 and IE 11 */
  /* user-select: none; Standard syntax */
  color: var(--text-color);
  background: var(--light-lavender);
  overflow-x: hidden;
  font-family: var(--open) !important;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--open);
  margin: 0;
}
header {
  position: absolute;
  width: 100%;
}
/* ::-webkit-scrollbar {
  display: none;
} */
input:focus {
  outline: none;
}

img {
  max-width: 100%;
  object-fit: contain;
}
a {
  text-decoration: none;
}
.text-wrap {
  white-space: wrap !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.b-deepsea {
  border: 1px solid var(--Hazy-Deep-Sea) !important;
}
.p-0 {
  padding: 0 !important;
}
.w-20 {
  width: 20%;
}
.w-80 {
  width: 80%;
}
.gap-16 {
  gap: 16px;
}
.gap-64 {
  gap: 64px;
}
.gap-35 {
  gap: 35px;
}
textarea {
  resize: none;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-12 {
  margin-left: 12px;
}
.p-80 {
  padding: 80px !important;
}
.w-40 {
  width: 40%;
}
.space-effort-date {
  padding: 0 40px;
}
.text-align-left {
  text-align: left !important;
}
.text-align-center {
  text-align: center !important;
}
/* Font Sizing */
.f-16 {
  font-size: 16px;
}
.f-14 {
  font-size: 14px !important;
}
.f-12 {
  font-size: 12px;
}
.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.h-300 {
  height: 300px;
}
.custom-padding {
  padding: 11px 15px 13px 15px;
}
.custom-padding-mapping {
  padding: 2px 8px 2px 15px;
}
.custom-padding-purpose {
  padding: 2px 16px 2px 15px;
}
.active-tab {
  background-color: var(--deepPurple) !important            ;
  color: var(--text-color) !important;
}
.inactive-tab > h2 {
  color: var(--deepPurple) !important;
}
/* Boder Styling */
.border-pale {
  border: 1px solid var(--Pale-Blue-Gray);
}
.border-pastel {
  border: 1px solid var(--pastel-lavender);
}
.border_top-white {
  border-top: 1px solid var(--semi-transparent-white);
}
.border_bottom_Light {
  border-bottom: 1px solid var(--Very-Light-Gray);
}
.border_bottom_black {
  border-bottom: 4px solid var(--text-black);
}
.border_bottom_bluish {
  border-bottom: 1px solid var(--bluish-tint);
}
.padding-top-70-bottom-90 {
  padding-top: 70px;
  padding-bottom: 90px;
}
.padding-left-20 {
  padding-left: 20px !important;
}

.padding-lr-30 {
  padding: 0 30px !important;
}
.border_bottom_faint {
  border-bottom: 1px solid var(--Faint-Black);
}
.border_bottom_lavender-blush {
  border-bottom: 1px solid var(--lavender-blush);
}
.border_bottom_shadowy {
  border-bottom: 1px solid var(--Shadowy-Overlay);
}
.border_bottom_Semi-Transparent_navy {
  border-bottom: 1px solid var(--Semi-Transparent-Midnight-Navy);
}

.border_bottom_soft-lavender {
  border-bottom: 1px solid var(--soft-lavender);
}
.border_bottom_pastel {
  border-bottom: 1px solid var(--pastel-lavender);
}
.border_bottom_purple-haze {
  border-bottom: 1px solid var(--purple-haze);
}
.border-bottom-grey {
  border-bottom: 1px solid var(--Light-grey);
}
.border-left-lavender-blush {
  border-left: 2px solid var(--lavender-blush);
}
.padding-10-18 {
  padding: 10px 18px !important;
}
.margin-11 {
  margin-top: 11px;
}
.relative {
  position: relative !important;
}
.deeppurple {
  color: var(--deepPurple) !important;
}
.black {
  color: var(--text-black);
}
.bg-white {
  background: var(--text-color) !important ;
}

.p-0 {
  padding: 0 !important;
}
.m-0 {
  margin: 0;
}
.mr-12 {
  margin-right: 12px;
}
.pl-12 {
  padding-left: 12px !important;
}
.pl-28 {
  padding-left: 28px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-66 {
  padding-bottom: 66px !important;
}
.pb-24 {
  padding-bottom: 24px;
}
.pb-26 {
  padding-bottom: 26px;
}
.pb-14 {
  padding-bottom: 14px;
}
.pb-18 {
  padding-bottom: 18px;
}
.pt-18 {
  padding-top: 18px;
}
.pt-16 {
  padding-top: 16px;
}
.pb-16 {
  padding-bottom: 16px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-8 {
  margin-bottom: 8px;
}
.pb-32 {
  padding-bottom: 32px !important;
}

.flex-center-padding {
  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}
.padding-dropdown-custom {
  padding: 8px 24px !important;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.overflow-scroll-y {
  overflow-y: scroll !important;
}

/* Font Weight */

.weight-700 {
  font-weight: var(--bold);
}
.weight-600 {
  font-weight: var(--semi-bold);
}
.weight-500 {
  font-weight: var(--medium) !important;
}
.weight-400 {
  font-weight: var(--normal);
}
.pr-70 {
  padding-right: 70px;
}
.pl-14 {
  padding-left: 14px;
}
.pr-50 {
  padding-right: 50px;
}
.pr-12 {
  padding-right: 12px !important;
}
.plr-14 {
  padding-left: 14px;
  padding-right: 14px;
}
.ml-20 {
  margin-left: 20px;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-10 {
  margin-top: 10px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}
.pt-11 {
  padding-top: 11px;
}
.ptb-34 {
  padding-top: 34px;
  padding-bottom: 34px;
}
.pt-24 {
  padding-top: 24px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-60 {
  margin-top: 60px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-45 {
  margin-bottom: 45px;
}

.mb-16 {
  margin-bottom: 16px;
}
.m-20 {
  margin: 20px;
}

.cootle-container {
  display: flex;
  align-items: center;
  gap: 7px;
}
.pt-270 {
  padding-top: 270px;
}

.authentication-box {
  width: 28rem;
}

.dropdown-arrow {
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}

.rotate-up {
  transform: rotate(180deg); /* Rotate arrow up */
}

.rotate-down {
  transform: rotate(0deg); /* Rotate arrow down */
}

.cootle-text {
  font-size: 20px;
  line-height: 0;
  text-align: left;
  color: var(--text-color);
}

.reset-dropdown {
  background: var(--text-color) !important;
  padding: 16px !important;
  position: absolute;
  right: 0;
  z-index: 1000;
  width: 270px !important;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  margin-left: 28px !important;
}
.profile-dropdown {
  background: var(--text-color) !important;
  padding: 16px !important;
  position: fixed;
  bottom: 70px !important;
  width: 270px !important;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  margin-left: 28px !important;
}

.profile-setting_container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logout_container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 11px;
}
.account_text {
  padding: 0 0 18px 8px;
  color: var(--deepPurple);
  font-size: 14px;
  line-height: 20.3px;
  letter-spacing: -0.03em;
  text-align: left;
}
.header-position {
  top: 10px;
  width: 100%;
  z-index: 2;
  position: sticky;
}

.close_btn {
  padding: 13px 16px 13px 16px;
  background-color: var(--text-color);
  border-radius: 12px;
  border: none;
}
.close_btn > span {
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  color: var(--Charcoal-Mist);
}
.update_btn {
  border-radius: 12px;
  border: none;
  padding: 13px 16px 13px 16px;
  background-color: var(--deepPurple);
}
.update_btn > span {
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  color: var(--text-color);
}
.border_setting {
  padding: 18px 8px 28px 8px;
}
.form-group_profile {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.label_profile {
  color: var(--purple-shadow);

  font-size: 14px;
  line-height: 20.3px;
  text-align: left;
}
.my_profile_setting {
  font-size: 24px;
  line-height: 29.05px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
}
.logout-text {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--Bright-Orange);
}
.reset-profile {
  padding: 25px 8px 14px 8px;
}
.border-profile {
  margin-top: 24px;
  padding: 0 8px 18px 8px;
}

.profile-setting_container > h4 {
  font-size: 17px;
  line-height: 20.57px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
}

.dropdown {
  padding: 16px 8px !important;
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  z-index: 1;
}
.scroll-property::-webkit-scrollbar {
  display: none;
}
.scroll-height {
  height: 155px;
}

.dropdown-icon {
  transition: transform 0.3s ease-in-out;
}

.open {
  transform: rotate(180deg);
}

.create-container {
  padding: 27px 16px;
}
.cursor-pointer {
  cursor: pointer;
}
.invite-heading {
  font-size: 14px;
  line-height: 20.3px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-top: 26px;
  color: var(--transparent-black-color);
}
.padding-lr-sixteen {
  padding: 11px 16px;
}
.padding-lr-fourteen {
  padding: 11px 14px;
}
.show-invitation {
  display: flex !important;
  align-items: center !important;
  gap: 48px !important;
  padding: 0 !important;
}
.show-invitation-text {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
}
.invite-text {
  font-size: 14px;

  line-height: 20.3px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--dark-purple-80);
  margin-top: 8px;
  margin-bottom: 32px;
}
.mapping-category-heading {
  color: var(--deepPurple);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  letter-spacing: -0.03em;
  text-align: left;
}
.main-setup-heading {
  font-size: 16px;
  line-height: 21.78px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
}

.create-company {
  font-size: 17px;
  line-height: 20.57px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--Charcoal-Mist);
}
.email_profile_text {
  font-size: 14px;

  line-height: 20.3px;
  text-align: left;
  color: var(--purple-shadow);
}
.email_container {
  padding: 17px 8px 36px 8px;
}
.profile_email {
  background-color: var(--soft-lavender);
  color: var(--deepPurple);
  padding: 12px 16px;
  padding-left: 16px;
  line-height: 24px;
  text-align: left;
  border: none;
  border-radius: 8px;
  margin-top: 8px;
  width: 90%;
}
.form_groupimage {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 8px;
}
.upload_note {
  font-size: 14px;
  line-height: 20.3px;
  text-align: left;
  color: var(--dark-purple-80);
}
.scroll-property {
  margin-top: 13px;
  flex-direction: column;
  padding-bottom: 33px;
  overflow-y: scroll; /* Only vertical scrolling */
  display: flex;
  gap: 24px;
  overflow-x: hidden;
}
/* For WebKit browsers (Chrome, Safari) */
.scroll-property::-webkit-scrollbar-button {
  display: none; /* Hide the up and down buttons */
}

/* For Firefox */
.scroll-property {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: var(--deepPurple) transparent; /* Scrollbar color and track color */
}

/* Additional custom scrollbar styling */
.scroll-property::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scroll-property::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-property::-webkit-scrollbar-thumb {
  background-color: var(--deepPurple); /* Thumb color */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.scroll-property::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}

.dropdown-list {
  padding: 0 16px;
}
.dropdown h1 {
  font-size: 14px;
  line-height: 20.3px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
}

/* //////////////sidebar menu////////////////////////////// */
.organization-note {
  color: var(--deepPurple);
  font-size: 14px;
  line-height: 20.3px;
  text-align: left;
  margin-top: 6px;
}
.input-company {
  border: none;
  border-radius: 16px;
  padding: 12px 16px 12px 16px;
  background: var(--text-color);
  margin-top: 8px;
}
.input-company::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--dark-purple-80);
}
.company-form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.label-company,
.label-profile {
  font-size: 14px;
  line-height: 20.3px;
  text-align: left;
}

.label-company {
  color: var(--deepPurple);
}

.label-profile {
  color: var(--purple-shadow);
}

.padding-company {
  padding: 55px 90px 90px 119px !important;
}
.save-btn {
  padding: 13px 33px;
  border-radius: 12px;
  background: var(--deepPurple);
  border: none;
}
.setting-box {
  padding-bottom: 18px;
}
.save-btn > span {
  color: var(--text-color);
  font-size: 14px;
  line-height: 14px;
  text-align: right;
}
.menutext {
  transition: color 0.3s ease;
}

.menutext-active {
  color: var(--text-color);
}

.menutext-inactive {
  color: var(--deepPurple);
}
.menutext {
  /* color: var(--deepPurple); */
  line-height: 19.36px;
  letter-spacing: -0.03em;
  text-align: left;
}
.profile-name {
  font-size: 16px;
  line-height: 19.57px;
  letter-spacing: -0.03em;
  text-align: left;
}
.company-sidebar {
  width: 248px;
  background-color: var(--light-lavender);
  padding: 24px 16px 16px 16px;
  border: none;
  border-radius: 24px;
}
.file-preview {
  width: 100%;
  height: 100%;
}
.profile-preview-icon {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.profile-file-button {
  background-color: transparent;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  width: 64px;
  height: 64px;
  overflow: hidden;
}
.profile-previewbox {
  width: 64px;
  height: 64px;
  overflow: hidden;
  border: 2px solid var(--grayish-blue);
  border-radius: 50%;
}
.profile-pic-preview {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.profile-img {
  border: 2px solid var(--text-color);
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
.profile-email {
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: -0.03em;
  text-align: left;
}

.accept_btn {
  background-color: var(--deepPurple);
  border: none;
  border-radius: 16px;
  width: 100%;
  padding: 8px 16px;
}
.accept_btn > span {
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: var(--text-color);
}
.invite-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
.reject_btn > span {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: var(--Rich-black);
}
.reject_btn {
  background-color: var(--text-color);
  border: 1px solid var(--pastel-lavender);
  border-radius: 16px;
  width: 100%;
  padding: 8px 16px;
}
.invitation_prompt {
  margin-top: 16px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 20.3px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--Rich-black);
}
.company-sidebar > ul > li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 0 16px;
}
.bottom-profile {
  position: absolute !important;
  bottom: 0;

  width: 270px;
}
.companyinvite {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--Midnight-Navy);
}
.wrapper-company {
  display: flex;
  gap: 16px;
  height: 100%;
}
.company-content {
  width: 100%;
  border-radius: 32px;
  background: var(--light-lavender);
  border: none;
  padding: 24px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 1px 2px 0px var(--grayish-blue); */
}
.mapping_btn {
  border: none;
  background: transparent;
  color: var(--deepPurple);
  padding: 13px 21px 13px 21px;
  font-size: 17px;
  line-height: 20.57px;
  letter-spacing: -0.03em;
  text-align: left;
  white-space: nowrap;
}
.mapping_btn.active {
  background-color: var(--deepPurple);
  color: var(--text-color);
  padding: 10px 16px 13px 16px;
  border: none;
  border-radius: 16px;
}
.button-group {
  background-color: var(--pastel-lavender);
  border-radius: 16px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company-sidebar ul li.active {
  background-color: var(--dark-purple-gray);
  border: none;
  border-radius: 16px;
  border: 2px solid var(--pastel-lavender);
}
.reset_btn {
  border: none;
  border-radius: 16px;
  background: transparent;
}
.company-sidebar > ul {
  margin-top: 14px !important;
  padding: 0 0 0 5px !important;
}
.company-setup-heading {
  font-size: 20px;
  line-height: 29.05px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
}

.invitation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 1000;
  border-radius: 32px;
  padding: 120px 0 0 0;
}

.invitation-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/bg-theme/bg-gradient.webp");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: -1; /* Ensure the background is behind the content */
}

.profile-input-border {
  padding: 16px 8px 24px 8px;
}
.detail-profile-box {
  width: 100%;
  border-radius: 24px;
  background: var(--light-lavender);
  border: none;
  padding: 8px;
}
.profile-logo-input {
  color: transparent;
}

.invitation-content {
  background: var(--text-color);
  border-radius: 32px;
  padding: 16px;
  border: none;
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 12;
  flex: 1 1;
}
.proflie-content {
  border-radius: 32px;
  background: var(--text-color);
  border: none;
  padding: 16px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 1000;
  padding: 120px 0 0 0;
}

.popup-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/bg-theme/bg-gradient.webp");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: -1;
}

.popup-content {
  background: var(--text-color);
  border-radius: 32px;
  padding: 40px 40px 16px 40px;
  border: none;
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 1;
}

.box-container {
  border-radius: 24px;
  background-color: var(--light-lavender);
  border: none;
  gap: 40px;
  padding: 24px 24px 55px 24px;
}
.box-invitation {
  background: var(--light-lavender);
  height: 100%;
  border-radius: 24px;
  padding: 21px 24px 21px 24px;
}
.member-text {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: var(--deepPurple);
}
.line {
  margin-top: 50px;
  width: 6px;
  height: 110px;
  border: none;
  border-radius: 10px;
  background: var(--text-color);
}
.member_row {
  height: 34px;
}
.text-status {
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: -0.03em;
}
.status-active {
  color: var(--deepPurple); /* Or any style you want for active status */
}

.status-invitation {
  color: var(
    --Bright-Coral
  ); /* Or any style you want for invitation sent status */
}
.member-title {
  margin-right: 4px;

  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
}
.member_email {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.03em;
  text-align: left;

  color: var(--deepPurple);
}
.member-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invitation-heading {
  font-size: 24px;
  line-height: 29.05px;
  letter-spacing: -0.03em;
  text-align: left;

  color: var(--deepPurple);
}
.invitation-detail {
  background: var(--text-color);
  border-radius: 16px;
  border: none;
  height: 180px;
  width: 416px;
  display: flex;
  margin-top: 24px;
  align-items: center;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #eae5ee40;
  border: 1px solid var(--pastel-lavender);
}
::file-selector-button {
  display: none;
}
::-webkit-file-upload-button {
  display: none;
}
.company-detail {
  cursor: pointer;
  background: var(--text-color);
  border-radius: 16px;
  border: none;
  height: 180px;
  width: 416px;
  display: flex;
  margin-top: 24px;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 2px #eae5ee40;
  border: 1px solid var(--pastel-lavender);
}
.profile-input {
  line-height: 24px;
  text-align: left;
  color: var(--text-black);
  border: none;
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  background: var(--text-color);
}
.remove-file-button {
  border: none;
  background: white;
  margin-left: 20px;
  border-radius: 8px;
  font-size: 12px;
}
.profile-file-btn {
  color: var(--text-color);
  border: none;
  background: var(--grayish-blue);
  margin-left: 20px;
  border-radius: 8px;
  font-size: 12px;
}
.company-logo-preview {
  width: 64px;
  height: 64px;
  overflow: hidden;
}
.selected_logo {
  border-radius: 8px;
  margin-top: 8px;
  width: 64px;
  height: 64px;
}
.no_logo_container {
  background: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 64px;
  height: 64px;
  margin-top: 8px;
}
.no_logo {
  font-size: 40px;

  line-height: 40px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
}
.selected_company {
  margin-top: 15px;
  color: var(--deepPurple);
  font-size: 24px;

  line-height: 36px;
  text-align: left;
}

.file-preview-container {
  margin: 8px 0;
}
.send_btn {
  background: var(--deepPurple);
  border-radius: 16px;
  width: 174px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.send_btn > span {
  line-height: 32px;
  text-align: right;
  color: var(--text-color);
}
.custom-file-button {
  width: 64px;
  height: 64px;
  display: inline-block;
  padding: 12px 16px 12px 16px;
  border-radius: 8px;
  margin: 8px 0px;
  background-color: var(--text-color);
  text-align: center;

  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.03em;
  color: var(--Midnight-Navy);
}

.company-content-text {
  font-size: 17px;
  line-height: 20.57px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
}

.invite-content {
  font-size: 23px;
  line-height: 33.35px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
  padding-left: 20px;
  padding-right: 20px;
}

.verify-username {
  border: 1px solid var(--dark-purple-80);
  border-radius: 16px;

  line-height: 32px;
  text-align: left;
  color: var(--deepPurple);
}
.verify-username::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: var(--deepPurple);
}

.popup-content > form {
  padding: 0 55px;
  margin-top: 32px;
}
.popup-content > h2 {
  font-family: var(--antro);
  font-size: 36px;

  line-height: 36px;
  text-align: center;
  color: var(--deepPurple);
}

.popup-content > p:last-child {
  font-family: "Inter", sans-serif;
  margin-top: 48px;
  font-size: 10px;
  font-weight: 600;
  line-height: 13px;
  text-align: center;
  color: var(--dark-purple-translucent);
}
.username-note {
  font-family: var(--comic);
  margin-top: 16px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: var(--deepPurple);
}
.company-logo {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: var(--text-color);
}
.company_dropdown_logo {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: var(--deepPurple);
}
.company_logo_dropdown {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.company-dropdown-logo {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: var(--Charcoal-Gray);
}
.selected {
  background-color: var(--light-lavender);
  border-radius: 16px;
  border: none;
  padding: 14px 16px;
}

.company-name {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: left;
}
.dropdown-reset {
  position: absolute;
}
.hover-effect {
  padding: 8px 16px;
  background-color: transparent;
}
.hover-effect:hover {
  background-color: var(--dark-purple-gray);

  border-radius: 16px;
  border: none;
}
.hover-effect:hover .add-purpose {
  color: var(--text-color);
}

.hover-effect:hover .hover-image {
  content: url("../images/mark/plus_hover_16px.svg");
}

.page-title-heading {
  font-size: 18px;
  line-height: 24.05px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
  text-transform: capitalize;
}
.company-dropdown-name {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--Charcoal-Gray);
}
.project {
  font-size: 17px;
  line-height: 20.57px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--semi-transparent-white);
}

.mapping {
  line-height: 19.36px;
  letter-spacing: -0.03em;
  text-align: left;
}
.company-logo > h2 {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--text-black);
}
.company-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding-bottom: 24px;
}

/* /////////////////////////////////Categories///////////////////////////// */

.company-sidebar ul li {
  padding: 14px 16px;
}

.sub-content {
  width: 100%;
  border-radius: 24px;
  background: var(--light-lavender);
  border: none;
  padding: 24px 16px 22px 16px;
  display: flex;
  flex-direction: column;
}

.sub_category {
  width: 310px;
  background-color: var(--text-color);
  padding: 26px 16px;
  border: none;
  border-radius: 26px;
  border: 1px solid var(--pastel-lavender);
}

.sub_category ul li.active {
  background-color: var(--text-color);
  border: none;
  border-radius: 16px;
}

.sub_category > ul > li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 14px 16px;
}

.content-tabs {
  background-color: var(--pastel-lavender);
  border-radius: 16px;
  border: none;
  width: 100%;
  padding: 0 30px;
  display: flex;
  gap: 24px;
}
.content-tab {
  border: none;
  background: transparent;
  color: var(--deepPurple);
  font-size: 16px;
  line-height: 20.57px;
  letter-spacing: -0.03em;
  text-align: left;
  position: relative;
  padding: 10px 5px;
  cursor: pointer;
}

.content-tab.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 8px;
  background-color: var(--deepPurple);
}

.member-content {
  background-color: var(--text-color);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--bluish-tint);
  position: absolute;
  border-radius: 8px;
  padding: 8px;
  z-index: 9999;
}

.member-content > p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20.3px;
  letter-spacing: -0.03em;
  text-align: left;
  border-radius: 8px;
  padding: 8px;
  color: var(--deepPurple);
}
.title-content-container {
  border-radius: 16px;
  background: var(--text-color);
  box-shadow: 0px 0.6px 4px 0px #00000040;
}

.selected-option {
  background-color: var(--light-lavender);
}

.profile-member {
  margin-right: 10px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid var(--Silver-Sand);
  height: 40px;
  object-fit: cover;
}
.member-container {
  background-color: var(--text-color);
  border: 1px solid var(--pastel-lavender);
  padding: 24px 0 16px 0;
  border-radius: 24px;
  border: none;
  flex: 1 1;
}
.dropdown-btn {
  background-color: transparent;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.member-list-heading {
  font-size: 18px;
  line-height: 24.2px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
  margin-left: 14px;
  margin-bottom: 32px;
}
.notification-badge {
  position: absolute;
  width: 8px;
  background: var(--Bright-red);
  border: 1px solid var(--dark-cyan);
  border-radius: 50%;
  height: 8px;
  right: 0;
}

.notification-container {
  width: 750px;
  flex: 1 1;
  background: var(--light-lavender);
  border-radius: 24px;
  padding: 18px 16px;
  position: relative; /* Position relative for scrollbar styling */
}

.notification-scroll {
  overflow: auto; /* Use 'auto' for automatic scrollbar display */
  max-height: 488px;
}

.notification-scroll::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

.notification-scroll::-webkit-scrollbar-track {
  background: transparent; /* Track color (transparent here to blend with background) */
}

.notification-scroll::-webkit-scrollbar-thumb {
  background-color: var(--deepPurple); /* Thumb color */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.notification-item.read {
  padding-top: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.effort-container {
  display: flex;
  flex-direction: column;
  background: var(--light-lavender);
  border-radius: 24px;
  padding: 24px;
  width: 614px;
}
.effort-selection {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.03em;
  text-align: right;

  color: var(--text-black);
}

.category-heading {
  color: var(--deepPurple);
  font-size: 20px;
  line-height: 24.05px;
  letter-spacing: -0.03em;
  text-align: left;
}
.category-headingeffort {
  font-size: 14px;
  font-weight: 600;
  line-height: 20.3px;
  text-align: left;
  color: var(--Charcoal-Mist);
}
.search-container {
  position: relative;
}

.search-icon,
.plus-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search-icon {
  left: 10px;
}

.plus-button {
  right: 10px;
}

.dropdown-search {
  width: 100%;
  border-radius: 8px;
  background-color: var(--text-color);
  border: none;
  padding: 14px 16px 12px 43px;
}
.dropdown-search::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 2.56px;
  text-align: left;
  color: var(--deep-purple-overlay);
}

.plus-button {
  display: flex;
  gap: 8px;
  background-color: transparent;
  border: none;
  align-items: center;
}
.plus-button > .add-text {
  color: var(--deep-purple-overlay);
  font-size: 16px;
  line-height: 32px;
  text-align: right;
}
.cross_btn {
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
}
.cross_btn:hover {
  fill: gray;
}

.current_effort {
  font-size: 14px;
  line-height: 20.3px;
  text-align: left;
  margin-bottom: 24px;
  margin-top: 24px;

  color: var(--purple-shadow);
}

.product-outcome-tabs {
  width: 248px;
  background-color: var(--text-color);
  padding: 24px 16px;
  border: none;
  border-radius: 24px;
  border: 1px solid var(--soft-lavender);
}

.product-outcome-tabs ul li.active {
  background-color: var(--deepPurple);
  border: none;
  border-radius: 16px;
}

.product-outcome-tabs ul li {
  padding: 14px 16px;
}
.product-outcome-tabs > ul > li {
  margin-bottom: 10px;
  cursor: pointer;
}

.remove_btn {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  text-align: right;
  color: var(--purple-shadow);
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list-item {
  position: relative;
  cursor: pointer;
}
.list-item:hover .remove_btn {
  opacity: 1;
}

.box-content {
  background: var(--text-color);
  border-radius: 32px;
  padding: 16px;
  border: none;
  box-shadow: var(--box-shadow);
  position: relative;
  flex: 1 1;
  box-shadow: 0px 0.6px 4px 0px #00000040;
}
.design-tab {
  background-color: var(--text-color);
  border: none;
  border-radius: 12px;
  padding: 13px 16px 13px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.03em;
  text-align: right;
  color: var(--text-black);
  cursor: pointer;
  gap: 24px;
}

.effort-container ul {
  list-style-type: disc;
  color: var(--text-black);
}

.design {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.03em;
  text-align: right;
  color: var(--text-black);
}

.dot {
  background-color: var(--text-black);
  width: 4px !important;
  height: 4px !important;
  border-radius: 50%;
}

.selected-tab {
  background-color: var(--soft-lavender);
}
.content-defination-area {
  border: 1px solid var(--pastel-lavender);
  background-color: var(--text-color);
  border-radius: 24px;
  width: 100%;
  padding: 24px;
  height: 100%;
}
.defination-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
  list-style-type: none;
  padding-left: 0;
}

.defination-heading {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #000000;
}
.edit-button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  display: none;
}
.content-defination-area:hover .edit-button {
  display: block;
}
.section-project:hover .edit-button {
  display: block;
}
.textarea-input {
  border-radius: 16px;
  padding: 12px 16px 12px 16px;
  background: var(--text-color);
  margin-top: 8px;
}

.scrollbar-custom {
  max-height: 250px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--pastel-lavender) var(--purple-shadow);
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Customize the scrollbar width for WebKit browsers */
}

::webkit-scrollbar-button {
  display: none;
}

::-moz-scrollbar-button:decrement,
::-moz-scrollbar-button:increment,
::-webkit-scrollbar-button:decrement,
::-webkit-scrollbar-button:increment {
  width: 0px;
}
::-moz-scrollbar-button,
::-webkit-scrollbar-button {
  width: 0px;
}

.save_effort_btn {
  border-radius: 12px;
  border: none;
  padding: 8px 16px;
  background-color: var(--deepPurple);
}
.save_effort_btn > span {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: right;
  color: var(--text-color);
}

.close_effort_btn {
  border-radius: 12px;
  border: none;
  padding: 8px 16px;
  background-color: var(--text-color);
}
.close_effort_btn > span {
  font-size: 14px;
  color: var(--deepPurple);
  font-weight: 600;
  line-height: 14px;
  text-align: right;
}

.label-effort {
  color: #000000cc;

  font-size: 14px;
  margin-bottom: 8px;

  line-height: 20.3px;
  text-align: left;
}
.projectitem {
  padding: 12px 0px;
}
.projects-menu-scroll {
  margin: 28px 5px 0px 32px !important;
}
.projects-menu {
  margin: 28px 28px 0px 32px !important;
}
.add-purpose {
  color: var(--deepPurple);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.57px;
  letter-spacing: -0.03em;
  text-align: right;
}

.create_profile {
  width: 22px;
  position: relative;
  height: 22px;
  border: 1.5px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;
}
.create-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
  white-space: nowrap;
}
.create-id {
  color: var(--deepPurple);

  font-weight: 600;
  line-height: 19.05px;
  letter-spacing: -0.03em;
  text-align: left;
}
.title-input {
  background-color: var(--text-color);
  border-radius: 24px;
  border: none;
  padding: 13px 19px;
  width: 30%;
}

.title-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.78px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
}
.description-input {
  background-color: var(--text-color);
  border-radius: 24px;
  border: none;
  padding: 8px 21px;
}
.edit-image {
  width: 24px;
}
.new-purpose-create {
  background-color: var(--soft-lavender);
  border-radius: 24px;
  padding: 20px 20px 20px 16px;
}
.new-effort-create {
  height: 100%;
  background-color: var(--soft-lavender);
  border-radius: 24px;
  padding: 11px 20px 11px 22px;
}
.add-project_btn {
  background-color: var(--dark-purple-gray);
  border: none;
  border-radius: 8px;
  padding: 12px 8px 12px 8px;
  display: flex;
  gap: 4px;
  align-items: center;
}
.add-project_btn > .add-text {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
  color: var(--text-color);
}
.select-outcome-text {
  color: var(--deepPurple);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: -0.03em;
  text-align: left;
}
.categories-text {
  color: var(--purple-shadow);
  line-height: 19.36px;
  letter-spacing: -0.03em;
  text-align: left;
}
.selectedone {
  font-size: 16px;
  color: var(--deepPurple);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: left;
  white-space: nowrap;
}
.effort-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.section-project {
  background-color: var(--text-color);
  border-radius: 24px;
  border: none;
  height: 100%;
  padding: 24px 22px 15px 22px;
  border: 1px solid var(--pastel-lavender);
}
.show-selectedone {
  background-color: var(--soft-lavender);
  /* padding: 13px 16px 13px 32px !important; */
  border-radius: 12px;
}
.delete-btn {
  background-color: var(--text-color);
  border: none;
  border-radius: 12px;
  padding: 8px;
}

.link-model {
  max-width: 80%;
  position: relative;
}

.input-container {
  position: relative;
  display: inline-block;
  background-color: var(--text-black);
  border-radius: 8px;
  padding: 10px 8px;
  margin-bottom: 5px;
  width: 20%;
}

.input-field {
  border: none;
  background-color: transparent;
  caret-color: var(--text-color);
  font-family: Open Runde;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  line-height: 16px;
  color: var(--text-color);
}

.icon-container {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: var(--text-black);
  z-index: 999;
}

.link-icon {
  width: 20px; /* Adjust size of the icon */
  height: auto;
}

/* .input-field:first-line {
  background-color: #735880cc;
} */

.polygon {
  position: absolute;
  bottom: -14px;
  left: 10%;
  transform: rotate(-180deg);
}

.filter-container {
  padding: 24px 15px;
}
.timeline-text {
  color: var(--deepPurple);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: -0.03em;
  text-align: left;
}
.timeline-dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px var(--grayish-blue);
  background-color: white;
  position: absolute;
  padding: 8px;
}

.timeline-dropdown li {
  padding: 8px 16px;
  color: var(--deepPurple);
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.03em;
  text-align: center;
  cursor: pointer;
}

.timeline-dropdown li:hover,
.timeline-dropdown li.active {
  background-color: var(--soft-lavender) !important;
  border-radius: 8px !important;
}

.timeline-dates {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  padding: 0;
  margin-top: 24px;
}

.timeline-dates li {
  padding: 8px 16px;
  color: var(--deepPurple);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: -0.03em;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 11px 8px;
}
.timeline-dates li.active {
  background-color: var(--deepPurple) !important;
  color: var(--text-color) !important;
}
/* 
.timeline-dates li {
  background-color: var(--text-color);
  border: none;
  border-radius: 16px;
} */

.checked-status {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
  white-space: nowrap;
}

.no-checked {
  width: 21px;
  height: 21px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background: #d9d9d9;
}

.define-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  letter-spacing: -0.03em;
  text-align: right;
  color: var(--deepPurple);
}
.question-mark {
  font-size: 18px !important;
  line-height: 21.78px !important;
}

.bar-chart {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.bar-container {
  width: 60%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bar {
  height: 24px;
  position: relative;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
  color: white;
  font-weight: bold;
}

.bar-value {
  margin-right: 5px;
}

.bar-label {
  flex-shrink: 0;
  margin-left: 10px;
}
.center-line {
  position: absolute;
  top: 50%; /* Position at the center vertically */
  left: 0;
  right: 0;
  height: 1px; /* Thickness of the line */
  background-color: black;
  pointer-events: none; /* Prevents interaction with the line */
}

.linechart {
  position: absolute;
  margin: auto;
  width: 100%;
  top: 50%;
}
.apexcharts-toolbar {
  display: none !important;
}
/* .line-chart-container {
  width: 74px;
  height: 39px;
} */

.main-insight-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
}
.effort-complete {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
}

.count-text {
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
}
.effort-count-container {
  height: 100%;
  border: none;
  border-radius: 24px;
  background-color: var(--text-color);
  padding: 16px;
  border: 1px solid var(--pastel-lavender);
}
.Design_effort_text {
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #000000cc;
}

.value-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.78px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
}

.bar-label {
  color: var(--deepPurple);

  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: -0.03em;
  text-align: right;
}
.bar-ratio {
  height: 52.12px;
  border: none;
  border-radius: 16px;
}
.DropdownCheckedlist-menu {
  list-style-type: none;
  padding: 0;
  margin-top: 4px;
  position: absolute;
  background: var(--text-color) !important;
  z-index: 1000;
  box-shadow: 0px 1px 2px 0px #1b242c1f;
  border: 1px solid #f6effd;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
}

.DropdownCheckedlist-menu > li {
  color: var(--deepPurple);
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.03em;
  text-align: center;
  white-space: nowrap;
}

.DropdownCheckedlist-menu > li.active {
  background: var(--light-lavender) !important;
  border-radius: 8px !important;
  border: none !important;
}

.checkby-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
  color: #000000cc;
}

.checkby-image {
  width: 21px;
  height: 21px;
  border-radius: 50%;

  overflow: hidden;
  border: 2px solid #ffffff;
}

.lifetime.active {
  background-color: var(--deepPurple);

  border: none;
  border-radius: 16px;
}
.lifetime.active > h1 {
  color: var(--text-color);
}

.lifetime {
  display: flex;
  justify-content: center;
  padding: 17px 35px;
}

.objective-text {
  color: var(--deepPurple);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  letter-spacing: -0.03em;
  text-align: left;
}

.outcomes-text {
  font-weight: 500;
  line-height: 16.94px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--deepPurple);
}
.checked-insight-status {
  font-size: 14px;
  font-weight: 400;
  line-height: 20.3px;
  text-align: left;
  color: var(--text-color);
  white-space: nowrap;
}
.insight-sidebar {
  background-color: var(--light-lavender);
  padding: 16px;
  border: none;
  border-radius: 24px;
}

.bg-grey-light {
  background-color: #eeecf2 !important;
}
.timeline-dates.active {
  background-color: var(--text-color);
  border: none;
  border-radius: 16px;
}

.unarchive-btn {
  border: none;
  width: 40px;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.custom-li-class .archived-btn {
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.custom-li-class:hover .archived-btn {
  opacity: 1;
}

.pagination-component {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.project-list {
  /* max-height: 38vh;
  overflow: clip;
  overflow-clip-margin: 200px;
  overflow-y: scroll; */
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 18px;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limits the text to one line */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Allows text to wrap */
}

.project-list::-webkit-scrollbar {
  width: 4px;
}

.project-list::-webkit-scrollbar-thumb {
  background-color: #f4dcff;
  border-radius: 10px;
}

.project-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.project-list::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Default button styles */
.tab-button {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  width: auto;
  flex-grow: 1;
  background-color: var(--dark-purple-gray);
  gap: 8px;
  border: none;
  padding: 12px 24px 12px 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.tab-button > span {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}

.tab-button.active-design,
.tab-button.active-outcomes,
.tab-button.active-effort,
.tab-button.active-purpose,
.tab-button.active-links {
  background-color: var(--deepPurple);
}

/* .tab-button.active-outcomes img,
.tab-button.active-design img,
.tab-button.active-effort img,
.tab-button.active-purpose img,
.tab-button.active-links img {
  display: none;
} */
.links-list {
  margin-top: 16px;
}

.link-item {
  position: relative;
  padding: 13px 16px 13px 16px;
  border-radius: 12px;
  margin-bottom: 8px;
  background-color: var(--soft-lavender);
}

.link-url {
  text-decoration: none !important;
  color: var(--deepPurple);
  width: 100%;
  border-radius: 8px;
  padding: 13px 16px 13px 16px;

  border: none;
}
.link-url::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 2.56px;
  text-align: left;
  color: var(--deep-purple-overlay);
}

.link-actions {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  gap: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.link-item:hover .link-actions {
  opacity: 1;
}

.delete-button {
  background-color: transparent;
  border: none;
}
.close-button {
  background-color: var(--deepPurple);
  padding: 8px 16px;
  border-radius: 12px;
  border: none;
}
.close-button > span {
  font-family: var(--open) !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: right;
  color: var(--text-color);
}
.notification-title-heading {
  color: var(--deepPurple);
  font-size: 24px;

  line-height: 29.05px;
  letter-spacing: -0.03em;
  text-align: left;
}
.tab-btn {
  background-color: var(--dark-purple-gray);
  border: none;

  font-size: 16px;
  padding: 12px 8px;
  cursor: pointer;
  transition: color 0.3s;
  border-radius: 8px;
}
.tab-btn > span {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
  color: var(--text-color);
}

.tab-btn.active {
  background-color: var(--deepPurple);
}
.notify-clean-btn {
  background-color: var(--pastel-lavender);
  border: none;
  border-radius: 24px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.notify-clean-btn > span {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
  color: var(--deepPurple);
}

.notify-clean-btn:hover {
  background-color: var(--deepPurple);
}

.notify-clean-btn:hover > span {
  color: var(--text-color);
}

.notification-message {
  font-size: 14px;

  line-height: 20.3px;
  letter-spacing: -0.03em;
  text-align: left;
}

.notification-item {
  position: relative;
}

.cross_btn {
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.notification-item:hover .cross_btn {
  display: block;
}

.caught-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--dark-purple-gray);
}
.no-notification {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--dark-purple-gray);
  margin-top: 8px;
}
.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
.skeleton-item {
  height: 50px;
  background: var(--lavender-blush);

  margin: 10px 0;
  border-radius: 4px;
}
.project-dropdown-menu {
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px var(--grayish-blue);
  background-color: var(--text-color) !important;
  padding: 18px 16px 10px 16px !important;
  z-index: 9999;
}
.project-dropdown-menu > li > .span {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: left;
  padding-left: 5px;
}

.project-dropdown-menu > li > .delete-project-text {
  color: var(--Bright-Orange);
}

.project-dropdown-menu > li > .edit-project-text {
  color: var(--deepPurple);
}
.error-message {
  color: var(--Bright-Orange);
}
.new-project-control {
  padding: 12px 8px 12px 8px !important;
  border: none !important;
  border-radius: 8px !important;
  background-color: var(--text-color) !important;
}
.new-project-control ::placeholder {
  color: #1a072c66 !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
}
.legend-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 16px;
}
.apexcharts-legend {
  padding: 0 4px !important;
}
.apexcharts-legend-marker {
  margin-right: 8px !important;
}
.apexchart-legend-name {
  color: var(--purple-shadow);
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.03em;
  text-align: left;
}

/* Default styling for larger screens */
.responsive-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #dcdcdc; /* Example border style */
  padding-bottom: 24px;
}

.responsive-container .d-flex {
  display: flex;
  align-items: center;
  gap: 3rem; /* Adjust the gap as needed */
}
.absolute-edit-button {
  position: relative;
}
.input-search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}
.four-columns {
  grid-column: span 5;
}
.grid-item {
  grid-column: span 3;
}

@media only screen and (min-height: 600px) {
  .pt-270 {
    padding-top: 160px;
  }
}

@media only screen and (min-height: 900px) {
  .pt-270 {
    padding-top: 270px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .select-outcome-text {
    font-size: 14px;
  }
  .add-project_btn {
    padding: 12px 5px 12px 5px;
  }
  .grid-item {
    grid-column: span 6;
  }
  .four-columns {
    grid-column: span 8;
  }
  .w-40 {
    width: 60%;
  }
  .mapping_btn {
    padding: 13px 8px 13px 8px;
    font-size: 14px;
    line-height: 19.57px;
    letter-spacing: -0.02em;
  }
  .mapping_btn.active {
    padding: 10px 13px 13px 13px;
    border: none;
    border-radius: 16px;
  }
  .company-setup-heading {
    font-size: 18px;
  }
  .flex-center-padding {
    gap: 4px;
  }
  .input-company::placeholder {
    font-size: 12px;
  }
  .pr-70 {
    padding-right: 20px;
  }
  .profile-member {
    margin-right: 0px;
    width: 30px;
    height: 30px;
  }
  .text-status {
    font-size: 12px;
  }
  .member-title {
    font-size: 12px;
  }
  .member_email {
    font-size: 11px;
  }
  .company-sidebar {
    padding: 24px 8px 16px 8px;
  }
  .company-content {
    padding: 24px 8px 16px 8px;
  }
  .filter-container {
    padding: 24px 0px;
  }
  .timeline-dates li {
    font-size: 14px;
    gap: 20px;
  }
  .lifetime {
    padding: 14px 24px;
  }
  .four-columns {
    grid-column: span 6;
  }
  .design-tab {
    padding: 13px 14px 13px 14px;
    font-size: 14px;
  }
  .input-search-container {
    flex-direction: column;
    align-items: start;
  }
  .space-adjust-between {
    justify-content: space-between;
    margin-top: 16px;
    width: 100%;
  }
  .absolute-buttons-group {
    position: absolute;
    right: 0;
    top: -42px;
  }

  .effort-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .responsive-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .responsive-container .first-row,
  .responsive-container .second-row {
    width: 100%;
    margin-bottom: 16px; /* Space between rows */
  }

  .responsive-container .second-row {
    justify-content: space-between;
    margin-bottom: 0;
  }
  .absolute-edit-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .four-columns {
    grid-column: span 6;
  }
  .design-tab {
    padding: 13px 14px 13px 14px;
    font-size: 14px;
  }
  .input-search-container {
    flex-direction: column;
    align-items: start;
  }
  .space-adjust-between {
    justify-content: space-between;
    margin-top: 16px;
    width: 100%;
  }
  .absolute-buttons-group {
    position: absolute;
    right: 0;
    top: -42px;
  }

  .effort-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .responsive-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .responsive-container .first-row,
  .responsive-container .second-row {
    width: 100%;
    margin-bottom: 16px;
  }

  .responsive-container .second-row {
    justify-content: space-between;
    margin-bottom: 0;
  }
  .absolute-edit-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}
