.bg-main {
  background-color: var(--white);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.bg-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid var(--light-lavender);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: -1;
}

.image-1,
.image-2,
.image-3,
.image-4,
.image-5 {
  position: absolute;
  z-index: 2;
}
/* Common animation properties for animated elements */
.animated {
  z-index: 999;

  position: absolute;
}

/* Grouping for images with common animation */
.image-1,
.image-2,
.image-3,
.image-4,
.image-5,
.productbg-1,
.productbg-2,
.productbg-3,
.purpose-gradient {
  z-index: 999;
}
.purpose-gradient2 {
  top: 121px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* Individual positioning */
.image-1 {
  top: 12%;
  left: -3%;
}
.image-2 {
  top: 18%;
  right: 0;
}
.image-3 {
  top: 15%;
  right: 8%;
}
.image-4 {
  top: 48%;
  left: -3%;
}
.image-5 {
  top: 22%;
  right: 8%;
}

.productbg-1 {
  bottom: -30%;
  left: -8%;
}
.productbg-2 {
  bottom: -7%;
  right: -7%;
}
.productbg-3 {
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
}

.purpose-gradient {
  top: 34%;
  left: -8%;
}

/* Gradient elements */
.mapping-graient {
  bottom: -70px;
  right: 103px;
  z-index: 1;
}
.footer-gradient1 {
  top: 25%;
  left: -57px;
}
.footer-gradient2 {
  top: 28%;
  right: 0;
}
.footer-gradient3 {
  bottom: -27%;
  right: 8%;
}
.footer-gradient4 {
  bottom: -1%;
  right: 10%;
}

.gradient-insight1 {
  top: 8%;
  right: 0;
}
.gradient-insight2 {
  top: 26%;
  left: 0;
  z-index: 1;
}

.auth_main_heading {
  padding: 0 65px;
  font-size: 60px;
  line-height: 77px;
  text-align: center;
  color: var(--eerie-black);
}
.auth_main_paragraph {
  font-size: 21px;
  line-height: 29px;
  padding: 0px 60px;
  letter-spacing: -0.21px;
  text-align: center;
  color: var(--eerie-black);
}
.content-paddingtop {
  padding: 256px 30px 0 30px;
}

.btn-base {
  border: none;
  cursor: pointer;
  border-radius: 8px;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16.94px;
  text-align: center;
  color: var(--white);
}

.contact_btn {
  background-color: var(--indigo-shade);
  padding: 15px 45px;
}

.started_btn {
  background-color: var(--eerie-black);
  padding: 15px 20px;
}

.img-software {
  padding: 136px 65px 152px;
  position: relative;
  z-index: 999;
}
.software-icon {
  width: 100%;
}

.thanks-text {
  font-family: var(--antro);
  color: var(--deepPurple);
  margin-top: 61px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 53px;
  letter-spacing: -1.5px;
}
.base-heading {
  font-size: 54px;
  line-height: 67.77px;

  color: var(--eerie-black);
}

.verify-heading {
  font-size: 50px;
  line-height: 60px;
  color: var(--deepPurple);
}

.copyright-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;

  text-align: center;
  letter-spacing: -0.01em;
  color: var(--dark-purple-gray);
}
.verify-box {
  position: relative;
  z-index: 999;
  border-radius: 24px;
  border: none;
  background: var(--light-lavender);
  padding: 32px 60px 45px 60px;
  height: 100%;
}

.form-control:disabled {
  background-color: var(--light-lavender);
}

.verify-email {
  border: 1px solid var(--mediumPurpleGray);
  border-radius: 16px;
  padding: 16px 0 16px 14px;
  width: 100%;
  line-height: 32px;
  text-align: left;
  color: var(--deepPurple);
  background-color: var(--light-lavender);
}
.verify-email::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: var(--deepPurple);
  background-color: var(--light-lavender);
}
.verify-email:focus {
  background-color: var(--light-lavender);
}
.yup-text {
  color: var(--Rich-black);
}

.submit-btn {
  border: none;
  border-radius: 16px;
  cursor: pointer;
  background: var(--deepPurple);
  padding: 17px 0;
  margin-top: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.submit-btn > span {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: var(--white);
}

.note {
  font-size: 10px;
  color: var(--dark-purple-translucent);
  line-height: 13px;
  text-align: center;
  margin-top: 24px;
}

.hover-underline {
  text-decoration: underline;
  cursor: pointer;
  color: var(--dark-purple-translucent);
}

.comic-passdetail {
  font-family: var(--comic);
  font-size: 14px;
  line-height: 18px;
  margin-top: 8px;
  text-align: center;
  color: var(--deepPurple);
}
.benefit-description {
  font-family: var(--poppins);
  font-size: 50px;
  line-height: 79px;
  color: var(--eerie-black);
}

.quote-before,
.quote-after {
  font-size: 200px;
  font-weight: 600;
  position: absolute;
}

.quote-before {
  top: 50%;
  left: -100px;
}

.quote-after {
  top: 50%;
  right: -100px;
}

.product-benefits-section {
  padding: 160px 0 142px;
  background-color: var(--white);
}

.struggle-section {
  background-color: var(--light-gray-overlay);
  border-bottom: 10px solid var(--light-lavender);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  box-shadow: var(--box-shadow-inset);
  padding: 150px 0;
}

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 99px;
  position: relative;
}

.card-layout {
  border-radius: 30px;
  background-color: var(--white);
  box-shadow: var(--soft-outline);
  padding: 20px 24px;
  max-width: 330px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-text {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: var(--eerie-black);
}

.card-text span {
  font-weight: 600;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px var(--shadow-light);
}

.rotate-10-46 {
  transform: rotate(-10.46deg);
}

.rotate-0 {
  transform: rotate(0deg) translateY(-30px);
}

.rotate-15 {
  transform: rotate(15deg);
}

.rotate-7-11 {
  transform: rotate(7.11deg);
}
.rotate--1-64 {
  transform: rotate(-1.64deg) translateY(50px);
}
.rotate--10-47 {
  transform: rotate(-10.47deg);
}
.padding-bottom-cards {
  padding-bottom: 25px;
}

.padding-top-cards {
  padding-top: 25px;
}

.merge-all-section {
  background-color: var(--white);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  min-height: 100vh;
}

.border-mixed {
  background-color: var(--white);
  height: 56px;
}

.purpose-section {
  background-color: var(--light-gray-overlay);
  padding: 136px 0;
  border-width: 10px 0px 10px 0px;

  border-style: solid;

  border-color: var(--light-lavender);
}

.purpose-card-container {
  display: flex;
  gap: 28px;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 3px;
}

.purpose-card-container::-webkit-scrollbar {
  display: none;
}
.purpose-card {
  background-color: var(--white);
  box-shadow: var(--soft-outline);

  border-radius: 30px;
  min-width: 435px;
  min-height: 311px;
  padding: 30px 22px 0 32px;
  transition: all 0.3s ease;
}

.purpose-card:hover {
  box-shadow: var(--soft-outline);
  transform: translateY(-5px);
}

.purpose-card-content {
  font-size: 25px;
  color: var(--eerie-black);
  line-height: 34px;
  font-weight: 600;
  font-family: var(--open);
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.purpose-card-content p {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  color: inherit;
  font-family: var(--open);
}

.purpose-card-label {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: inherit;
  font-family: var(--open);
}

.purpose-card-image {
  width: 45px;
  height: 45px;
  display: block;
  object-fit: contain;
}
.purpose-clear-purpose {
  color: var(--earthy-brown);
}

.purpose-aligned-outcomes {
  color: var(--vibrant-pink);
}

.purpose-strategic-design,
.purpose-measurable-impact {
  color: var(--dark-forest-green);
}

.mapping-heading {
  font-size: 24px;
  line-height: 34px;
  color: var(--color-dark-gray);
}

.gridalign-right {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.content {
  grid-column: 1 / span 9;
}
.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* Gradient styles using root variables */
.gradient-red-linear {
  background: linear-gradient(
      218.09deg,
      var(--red-gradient-start) 21.82%,
      var(--red-gradient-end) 76.1%
    ),
    var(--image-path), var(--white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-purple-radial {
  background: radial-gradient(
      126.56% 764.01% at 23.26% 26.79%,
      var(--purple-gradient-start) 0%,
      var(--purple-gradient-end) 100%
    ),
    var(--image-path), var(--white);
  background-blend-mode: multiply, normal, normal;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-purple-lavender-image {
  background: linear-gradient(
      to right,
      var(--lavender-gradient-start) 103%,
      var(--lavender-gradient-end) 22%
    ),
    var(--image-path), var(--white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-purple-lavender-right {
  background: linear-gradient(
      to right,
      var(--lavender-gradient-start) 71%,
      var(--lavender-gradient-end) 22%
    ),
    var(--image-path), var(--white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-blue-pink-left {
  background: linear-gradient(
      to left,
      var(--blue-pink-gradient-start) 16%,
      var(--blue-pink-gradient-end) 29%
    ),
    var(--image-path), var(--white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-purple-fade-pink {
  background: linear-gradient(
      to right,
      var(--purple-fade-pink-start) 0%,
      var(--purple-fade-pink-middle) 25%,
      var(--purple-fade-pink-middle) 50%,
      var(--purple-fade-pink-end) 100%
    ),
    var(--image-path), var(--white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-purple-solid {
  background: linear-gradient(
      to right,
      var(--solid-purple),
      var(--solid-purple)
    ),
    var(--image-path), var(--white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-purple-pink-linear {
  background: linear-gradient(
      to right,
      var(--purple-pink-start) 10.82%,
      var(--purple-pink-end) 90.1%
    ),
    var(--image-path), var(--white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.blend-text-gradient {
  background: rgba(255, 255, 255, 1);
  background-blend-mode: multiply;
  background-image: radial-gradient(
    circle at 74.42% 35.29%,
    var(--purple-gradient-start) 38.17%,
    var(--purple-gradient-end) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-blend-text {
  background: var(--white);
  background-blend-mode: multiply;
  background-image: radial-gradient(
    126.56% 764.01% at 23.26% 26.79%,
    var(--purple-gradient-start) 0%,
    var(--purple-gradient-end) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.gradient-project {
  position: absolute;
  bottom: 30px;
  left: 5%;
}
.gradient-documentation {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
}
.insight-list {
  padding: 0;
  list-style: none;
}

.insight-item {
  position: relative;
  padding-left: 20px;
}

.insight-item::before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--theme-highlight-color);
  font-size: 1.2em;
}

.bg-footer {
  background: url("../images/bg-theme/bg-footer.webp") center / cover;
  padding: 80px 0 65px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.footer-heading {
  font-size: 60px;
  color: var(--eerie-black);
  line-height: 70px;
  text-align: center;
}

.footer-paragraph {
  font-style: normal;
  font-size: 21px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.01em;
  color: var(--black);
  padding: 0 140px;
}
.gradient-documentation2 {
  display: none;
}

.arrow-button {
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%); */
  background: transparent;
  border: none;
  cursor: pointer;
  /* z-index: 10; */
}

/* .arrow-button.left {
  left: 10px;
}

.arrow-button.right {
  right: 10px;
} */

.arrow-button.disabled {
  cursor: not-allowed;
}

@media (min-width: 0px) and (max-width: 445px) {
  .flex-mobile-column {
    flex-direction: column;
  }
  .gap-mobile-2 {
    gap: 8px !important;
  }
}

/* iPhone 14 / 15 (Standard and Plus) */
@media only screen and (min-device-width: 375px) and (max-device-width: 430px) and (-webkit-min-device-pixel-ratio: 3) {
  .bg-main {
    /* overflow: hidden; */
  }
  .auth_main_heading {
    font-size: 28px;
    line-height: 32px;
    text-align: left;
  }
  .content-paddingtop {
    padding: 134px 8px 0 8px;
  }

  .started_btn {
    width: 100%;
    margin-left: 0;
    padding: 12px 34px;
    line-height: 24.2px;
    font-size: 20px;
    white-space: nowrap;
  }
  .img-software {
    padding: 59px 0px 59px;
  }
  .software-icon {
    /* width: 670px !important;
    max-width: none; */
  }
  .thanks-text {
    font-size: 35px;
    margin-top: 33px;
  }
  .padding-24 {
    padding: 0 24px;
  }
  .verify-heading {
    font-size: 42px;
  }
}

/* iPhone 14 Pro Max / 15 Pro Max */
@media only screen and (min-device-width: 428px) and (max-device-width: 430px) and (-webkit-min-device-pixel-ratio: 3) {
  .bg-main {
    /* overflow: hidden; */
  }
  .auth_main_heading {
    font-size: 28px;
    line-height: 32px;
    text-align: left;
  }

  .started_btn {
    width: 100%;
    margin-left: 0;
  }
  .img-software {
    padding: 59px 0px 59px;
  }
  .software-icon {
    /* width: 670px !important;
    max-width: none; */
  }
  .thanks-text {
    font-size: 35px;
    margin-top: 33px;
  }
  .padding-24 {
    padding: 0 24px;
  }
  .verify-heading {
    font-size: 42px;
  }
}

/* iPad Mini 8.3 */
@media only screen and (min-device-width: 744px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .bg-main {
    height: 100%;
    overflow: hidden;
  }
  .auth_main_heading {
    font-size: 46px;
    line-height: 50px;
  }

  .started_btn {
    width: 100%;
  }
  .software-icon {
    /* width: 885px !important;
    max-width: none; */
  }
}
@media only screen and (max-width: 768px) {
  .width-100-mobile {
    width: 100%;
  }
  .gap-mobie-3 {
    gap: 12px !important;
  }
  .bg-footer {
    padding: 40px 28px 70px 28px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .mobile-mt-20 {
    margin-top: 20px !important;
  }

  .mobile-m-0 {
    margin: 0 !important;
  }
  .mobile-mb-24 {
    margin-bottom: 24px !important;
  }
  .gradient-documentation2 {
    display: block;
    position: absolute;
    bottom: -91px;
    left: -148px;
  }
  .hide-on-small-devices {
    display: none;
  }
  .mapping-graient {
    bottom: -90px;
    right: -77px;
    z-index: 1;
  }
  .gradient-insight1 {
    top: 14%;
    right: -151px;
  }
  .footer-heading {
    font-size: 36px;
    line-height: 44px;
  }
  .footer-paragraph {
    padding: 0;
  }
  .image-max-width {
    max-width: 800px;
  }
  .productbg-3 {
    bottom: -36%;
    left: 50%;
    transform: translateX(-33%);
    z-index: 2;
  }
  .base-heading {
    font-size: 26px;
    line-height: 31.37px;
  }
  .struggle-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .heading-container {
    order: 1;
  }
  .top-cards-container {
    order: 2;
  }
  .bottom-cards-container {
    order: 3;
  }
  .rotate-0 {
    margin-top: 35px;
  }
  .quote-before,
  .quote-after {
    font-size: 112px;
  }
  .quote-before {
    top: 28%;
    left: -58px;
  }
  .merge-all-section {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .quote-after {
    top: 50%;
    right: -58px;
  }

  .card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    gap: 35px;
  }
  .rotate--1-64 {
    transform: rotate(-1.64deg) translateY(0);
  }
  .card-text {
    font-size: 16px;
    line-height: 22px;
  }
  .purpose-section {
    padding: 60px 20px;
  }
  .purpose-card-label,
  .purpose-card-content {
    font-size: 18px;
  }

  .purpose-card-content {
    font-size: 18px;
    line-height: 26px;
    gap: 0px;
    position: relative;
    z-index: 2;
  }
  .mapping-heading {
    font-size: 18px;
    line-height: 26px;
  }
  .purpose-gradient {
    top: 16%;
    left: -55%;
    z-index: 1;
  }
  .purpose-card-image {
    width: 28px;
    height: 28px;
  }
  .purpose-card {
    padding: 20px 13px 0 13px;
    min-width: 304px;
    min-height: 196px;
  }
  .struggle-section {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding: 60px 20px;
  }

  .image-1 {
    top: 6%;
    left: -42%;
  }
  .image-2 {
    top: 6%;
    right: -57%;
  }
  .image-3 {
    top: -2%;
    right: -24%;
  }
  .merge-all-section {
    overflow: hidden;
  }
  .image-4 {
    top: 57%;
    left: -50%;
  }
  .image-5 {
    top: 16%;
    right: -24%;
  }
  .benefit-description {
    font-size: 27px;
    line-height: 39px;
    padding: 0 30px;
  }

  .product-benefits-section {
    padding: 60px 20px 60px;
  }
  .productbg-2 {
    bottom: 11%;
    right: -52%;
  }
  .productbg-1 {
    bottom: -57%;
    left: -38%;
  }
  .bg-main {
    padding: 0 20px;
  }
  .bg-main::before {
    border: 6px solid var(--light-lavender);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .mt-32-mobile {
    margin-top: 32px;
  }
  .auth_main_paragraph {
    padding: 0;
  }
  .span-started_btn {
    width: 100%;
  }
  .bg-main {
    /* overflow: hidden; */
  }
  .auth_main_heading {
    padding: 0;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
  }
  .content-paddingtop {
    padding: 160px 0px 0 0px;
  }

  .started_btn {
    width: 100%;
    margin-left: 0;
    padding: 14px 22px;
    line-height: 16.94px;
    font-size: 14px;
  }
  .contact_btn {
    width: 100%;
    padding: 14px 55px;
    white-space: nowrap;
  }
  .img-software {
    padding: 59px 0px 59px;
  }
  .software-icon {
    /* width: 670px !important;
    max-width: none; */
  }
  .thanks-text {
    font-size: 35px;
    margin-top: 33px;
  }
  .padding-24 {
    padding: 0 24px;
  }
  .verify-heading {
    font-size: 42px;
  }
}
