.bg-main {
  background-color: var(--text-color);
  border-top: 10px solid var(--light-lavender);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  position: relative;
}

.image-1,
.image-2,
.image-3,
.image-4,
.image-5 {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

.image-1 {
  position: absolute;
  width: 18%;
  top: 12%;
  left: 2%;
}

.image-2 {
  position: absolute;
  right: 0;
  width: 20%;
  top: 18%;
}

.image-3 {
  position: absolute;
  right: 8%;
  width: 16%;
  top: 15%;
}

.image-4 {
  position: absolute;
  width: 16%;
  top: 55%;
  left: 3%;
}

.image-5 {
  position: absolute;
  width: 18%;
  right: 8%;
  top: 22%;
}
.auth_main_heading {
  padding: 0 65px;
  font-size: 60px;
  line-height: 77px;
  text-align: center;
  color: var(--eerie-black);
}
.auth_main_paragraph {
  font-size: 21px;
  line-height: 29px;
  padding: 0px 60px;
  letter-spacing: -0.21px;
  text-align: center;
  color: var(--eerie-black);
}
.heading {
  padding: 256px 30px 0 30px;
}

.btn-base {
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 15px 20px;
  font-size: 14px;
  line-height: 16.94px;
  text-align: center;
  color: var(--text-color);
}

.contact_btn {
  background-color: var(--indigo-shade);
}

.started_btn {
  background-color: var(--eerie-black);
}

.img-software {
  padding: 136px 65px 152px;
  position: relative;
  z-index: 999;
}
.software-icon {
  width: 100%;
}

/* .thanks-text {
  font-family: var(--antro);
  font-size: 60px;
  line-height: 100px;
  letter-spacing: -1.5px;
  text-align: left;
  margin-top: 41px;
  text-align: center;
} */

.verify-heading {
  color: var(--deepPurple);
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}

.verify-box {
  border-radius: 24px;
  border: none;
  background: var(--light-lavender);
  padding: 32px 60px 45px 60px;
  height: 100%;
}

.form-control:disabled {
  background-color: var(--light-lavender);
}

.verify-email {
  border: 1px solid var(--mediumPurpleGray);
  border-radius: 16px;
  padding: 16px 0 16px 14px;
  width: 100%;
  line-height: 32px;
  text-align: left;
  color: var(--deepPurple);
  background-color: var(--light-lavender);
}
.verify-email::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: var(--deepPurple);
  background-color: var(--light-lavender);
}
.verify-email:focus {
  background-color: var(--light-lavender);
}
.yup-text {
  color: var(--Rich-black);
}

.submit-btn {
  border: none;
  border-radius: 16px;
  cursor: pointer;
  background: var(--deepPurple);
  padding: 17px 0;
  margin-top: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.submit-btn > span {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: var(--text-color);
}

.note {
  font-size: 10px;
  color: var(--dark-purple-translucent);
  line-height: 13px;
  text-align: center;
  margin-top: 24px;
}

.hover-underline {
  text-decoration: underline;
  cursor: pointer;
  color: var(--dark-purple-translucent);
}

.comic-passdetail {
  font-family: var(--comic);
  font-size: 14px;
  line-height: 18px;
  margin-top: 8px;
  text-align: center;
  color: var(--deepPurple);
}
.benefit-description {
  font-family: var(--poppins);
  font-size: 50px;
  line-height: 79px;
  color: var(--eerie-black);
  position: relative;
}

.benefit-description::before,
.benefit-description::after {
  content: "“";
  font-size: 200px;
  line-height: 250px;
  font-weight: 600;
  position: absolute;
}

.benefit-description::before {
  left: -9%;
  transform: translateY(-16%);
}

.benefit-description::after {
  content: "”";
  top: 100%;
  transform: translateY(-50%);
}
.benefit-description span {
  display: inline-block;
}

.product-benefits-section {
  padding: 136px 0 142px;
  background-color: var(--text-color);
  border: 2px solid var(--light-lavender);
  margin-top: 4px;
}
.productbg-2 {
  position: absolute;
  right: 0;
  bottom: -15%;
  width: 20%;
}
.productbg-1 {
  position: absolute;
  /* left: -5%; */
  bottom: -30%;
  width: 16%;
}
.struggle-section {
  background-color: #f3f3f347;
  border-bottom: 10px solid var(--light-lavender);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  box-shadow: var(--box-shadow-inset);
  padding: 150px 0;
  top: -102px;
}

.struggle-heading {
  font-size: 56px;
  line-height: 67.77px;
  text-align: center;
  color: var(--eerie-black);
}

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 99px;
  position: relative;
}

.card {
  border-radius: 30px;
  background-color: var(--text-color);
  box-shadow: 0px 0px 0px 3px #e2e2e240;
  padding: 20px 24px;
  min-width: 285px;
  min-height: 194px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-text {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: var(--eerie-black);
}

.card-text span {
  font-weight: 700;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
}

.rotate-10-46 {
  transform: rotate(-10.46deg);
}

.rotate-0 {
  transform: rotate(0deg) translateY(-30px);
}

.rotate-15 {
  transform: rotate(15deg);
}

.rotate-7-11 {
  transform: rotate(7.11deg);
}
.rotate--1-64 {
  transform: rotate(-1.64deg) translateY(50px);
}
.rotate--10-47 {
  transform: rotate(-10.47deg);
}
.padding-bottom-cards {
  padding-bottom: 25px;
}

.padding-top-cards {
  padding-top: 25px;
}
/* iPhone 14 / 15 (Standard and Plus) */
@media only screen and (min-device-width: 375px) and (max-device-width: 430px) and (-webkit-min-device-pixel-ratio: 3) {
  .bg-main {
    overflow: hidden;
  }
  .auth_main_heading {
    font-size: 28px;
    line-height: 32px;
    text-align: left;
  }
  .heading {
    padding: 134px 8px 0 8px;
  }

  .started_btn {
    width: 100%;
    margin-left: 0;
    padding: 12px 34px;
    line-height: 24.2px;
    font-size: 20px;
  }
  .img-software {
    padding-top: 40px;
  }
  .software-icon {
    width: 670px !important;
    max-width: none;
  }
  .thanks-text {
    font-size: 35px;
    margin-top: 33px;
  }
  .padding-24 {
    padding: 0 24px;
  }
  .verify-heading {
    font-size: 42px;
  }
}

/* iPhone 14 Pro Max / 15 Pro Max */
@media only screen and (min-device-width: 428px) and (max-device-width: 430px) and (-webkit-min-device-pixel-ratio: 3) {
  .bg-main {
    overflow: hidden;
  }
  .auth_main_heading {
    font-size: 28px;
    line-height: 32px;
    text-align: left;
  }

  .started_btn {
    width: 100%;
    margin-left: 0;
  }
  .img-software {
    padding-top: 40px;
  }
  .software-icon {
    width: 670px !important;
    max-width: none;
  }
  .thanks-text {
    font-size: 35px;
    margin-top: 33px;
  }
  .padding-24 {
    padding: 0 24px;
  }
  .verify-heading {
    font-size: 42px;
  }
}

/* iPad Mini 8.3 */
@media only screen and (min-device-width: 744px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .bg-main {
    height: 100%;
    overflow: hidden;
  }
  .auth_main_heading {
    font-size: 46px;
    line-height: 50px;
  }

  .started_btn {
    width: 100%;
  }
  .software-icon {
    width: 885px !important;
    max-width: none;
  }
}
@media only screen and (max-width: 768px) {
  .span-started_btn {
    width: 100%;
  }
  .bg-main {
    overflow: hidden;
  }
  .auth_main_heading {
    font-size: 28px;
    line-height: 32px;
    text-align: left;
  }
  .heading {
    padding: 134px 8px 0 8px;
  }

  .started_btn {
    width: 100%;
    margin-left: 0;
    padding: 12px 34px;
    line-height: 24.2px;
    font-size: 20px;
  }
  .img-software {
    padding-top: 40px;
  }
  .software-icon {
    width: 670px !important;
    max-width: none;
  }
  .thanks-text {
    font-size: 35px;
    margin-top: 33px;
  }
  .padding-24 {
    padding: 0 24px;
  }
  .verify-heading {
    font-size: 42px;
  }
}
