.ql-editor > p {
  color: #1a072c !important;
  font-size: 18px;
  line-height: 24px;
}
/* Add this CSS to your global stylesheet or component's CSS module */
.ql-editor {
  color: #1a072c !important;
}

.ql-container.ql-snow {
  border: none !important;
}
.ql-toolbar.ql-snow {
  border: 1px solid #1a072c;
}
